<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>TestResults\NUnit3</ResultsDirectory>
    <MaxCpuCount>0</MaxCpuCount>
    <TargetPlatform>x64</TargetPlatform>
    <TreatNoTestsAsError>true</TreatNoTestsAsError>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" enabled="True">
        <Configuration>
          <Format>cobertura,lcov</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
